body {
  background-color: #F1F5FA;
}

.Title {
  font-size: 28pt;
  margin-top: 40px;
  margin-left: 10%;
  font-weight: 600;
}

/*검색창*/
.search {
  width: 80%;
  height: 335px;
  margin-top: 30px;
  border: 2px solid #4673EA;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}


.cn1::after{
  clear:both;
  content:"";
  display: block;

}

.cn1 {
  margin-bottom: 50px;

}

.subject > * {
  margin-right: 30px;  
  float: left;
}

.subject > li {
  list-style: square;
  margin-left: 30px;
}

.subject > label {
  line-height: 35px;
  font-size: 14pt;
}

.date > input {
  width: 200px;
  height: 33px;
}

.selectbox1 {
  width: 100px;
  height: 33px;
 }

.selectbox2 {
 width: 200px;
 height: 33px;
 margin-right: 210px;
}

span {
  line-height: 37px;
  font-size: 14pt;
}

.scBtn {
  width: 80px;
  height: 40px;
  background-color: #4673EA;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 16pt;
  margin-top: 50px;
  margin-right: -25px;
  float: right;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
/*멘토 창*/
.mento {
  width: 600px;
  height: 400px;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  
  float: left;
}

.group  {
  margin-left: 5.5%;
  
}

.mento > img {
  width: 200px;
  height: 300px;
  float: left;
  margin-left: 20px; 
  margin-top: 25px;
}

.title {
  font-size: 24pt;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}

.btn {
  margin-top: 20px;
  float: left;
  border-radius: 20px;
  background-color: #4673EA;
  height: 40px;
  width: 70px;
  line-height: 40px;
  text-align: center;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.box {
  text-align: left;
  width: 250px;
  height: 60px;
  background-color: rgb(252, 252, 178);
  float: left;
  margin-left: 30px;
  margin-top: 10px; 
}

.box2 {
  text-align: left;
  width: 250px;
  height: 120px;
  background-color: rgb(252, 252, 178);
  float: left;
  margin-left: 30px;
  margin-top: 10px; 
}
.bin::after {
  clear:both;
  content:"";
  display: block;
}